test/*/javasource/
test/*/deployment/
test/*/.classpath
test/*/.project
test/*/.svn
test/*/.mendix-cache

*.launch
*.tmp
*.lock
.idea/

out/
old src/
node_modules/
nbproject/
*DS_Store*
.jshintrc
.editorconfig
*.bak